*~
test/*
dustenv/pyenv/*
dustenv/pyenv
.pdm.toml
__pypackages__/3.8/lib
__pypackages__/3.8/bin
__pypackages__/3.8/share/man/man1
.lsyncd.lua
didonebert/__pycache__
data/dataframe.csv
ltex.dictionary.en-US.txt
*.csv
*/*my_secrets.py
bot/data/*.csv
data/items.csv
.vscode/*
Lib/*
__pycache__/*
Scripts/*
.gitmodules
.python-version
.stignore
pyvenv.cfg
share/*
.dust-mode